body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  font-family: "Montserrat-Light";
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.white-section{
 background-color: #fff;
 color: #000;

}

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}


/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: medium;
}

.navbar-item {
  padding: 0 18px;
}

.navbar-link {
  font-weight: 1.2rem;
  font-weight: "Montserrat-Light";
}
/* Title */

#title {
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}

#title-image {
  width: 55%;
  transform: rotate(30deg);
  /* margin-left: 150px; */
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

@media (max-width: 900px) {
  #title-image {
    transform: rotate(0);
    text-align: center;
  }
}

/* features */

#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}
.feature-container {
  padding: 15% 0;
}
@media (max-width: 900px) {
  .feature-container {
    margin-top: 50px;
    padding: 10% 0;
  }
}

.fas-icon {
  margin-bottom: 20px;
  color: #ef8172;
}

.fas-icon :hover {
  color: #ff4c68 !important;
}
/* Testimonial section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  width: 100%;
}
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press section */

#press {
  background-color: #ef8172;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  text-align: center;
}
.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card-heading {
  font-size: 1.5rem;
}
/* Call to Action Section */

#cta {
  color: #fff;
  font-weight: 900;
}

/* Footer */

.footer-socials {
  margin: 2%;
  color: black;
}
